* {
   box-sizing: border-box;
   padding: 0px;
   margin: 0px;
   text-decoration: none;
   list-style: none;
}

.partiesContainerBg {
  display: flex;
  flex-wrap: wrap;
   max-width: 1100px;
   margin: 0 auto;
   gap: 20px;
}

img {
   border-radius: 24px;
   width: 340px;
   height: 250px;
   display: block;
}


